<div class="isolate bg-white">
  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
        <div>
          <div class="mb-8 flex justify-center">
            <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              <span class="text-gray-600">
                This is not a production app, and if you sign up for this app your information may be deleted. 
                If you would like to demo the app sign in with <b><em>demouser1@test.com</em></b> password <b><em>demouser1</em></b>
              </span>
            </div>
          </div>
          <div>
            <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">Social contacts in one place with <span class="text-primary">Keeping it Social</span>.</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Make it easy to connect with your audience.</p>
            <% if !user_signed_in? %>
              <div class="mt-6 text-center">
                <a href="#" class="rounded-lg btn px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:ring-indigo-700">
                  Get started
                  <span class="text-white" aria-hidden="true">&rarr;</span>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
