<%= turbo_frame_tag "preview-#{dom_id(element)}" do %>
  <%= link_to element.url, target: "_blank", class: "btn btn-ghost shadow-lg border rounded-3xl w-full mt-4 hover:opacity-75", style: "background-color:#{button_color(page.theme.button_color)};border-color:#{text_color(page.theme.text_color)};color:#{text_color(page.theme.text_color)};" do %>
      <p><%= element.title %></p> 
    <% end %>
<% end %>
